@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

@keyframes modalopen {
	from {
		opacity: 0;
		transform: translateY(-150px);
	}
	to {
		opacity: 1;
	}
}

:root {
	--font-default: 'DM Sans', Arial, Helvetica, sans-serif;
	--font-slab: var(--font-default);
	--modal-duration: 0.8s;

	--primary-color: #fe142f;
	--secondary-color: #279e7a;
	--bg-color: #232323;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: var(--font-default);
	font-size: 18px;
	max-width: 1300px;
	margin: 0 auto;
}

main {
	font-size: 130%;
	font-weight: bolder;
	color: black;
	padding-top: 0.5vw;
	padding-left: 2vw;
	padding-right: 2vw;
	margin: 1px 20px 15px;
	border-radius: 2rem;
	text-align: justify;
}

p {
	margin-bottom: 0;
}

img {
	padding-right: 1rem;
}

a {
	color: currentColor;
	text-decoration: none;
}

/* ----------------HEADER---------------- */
.header {
	overflow: hidden;
	padding: 3.5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .icon {
	display: none;
	color: var(--primary-color);
	font-size: 1.6rem;
}

.header-navbar a:not(.menu-icon) {
	margin: 5px;
	padding: 12px 12px;
}

.header-navbar a {
	text-align: center;
}

.menu-icon {
	margin: 0;
	padding: 5px 12px;
}

.header-navbar a:hover,
.header-navbar a.active {
	background-color: var(--primary-color);
	color: #ffffff;
	border-radius: 15px;
	text-decoration: underline;
	text-underline-offset: 7px;
	text-decoration-thickness: 1px;
}

/* ----------------BUTTON---------------- */
.btn {
	padding: 10px 28px;
	border-color: transparent;
	border-radius: 10px;
	cursor: pointer;
}

.btn--red {
	background: var(--primary-color);
	color: #fff;
}

.btn-signup {
	font-size: 1.4rem;
	display: flex;
	margin: 59px auto 0 auto;
	text-transform: capitalize;
}

.btn-submit {
	display: block;
	margin: 0 auto;
	border-radius: 7px;
}

/* ----------------HERO---------------- */
h1 {
	font-size: clamp(3.5rem, 2.5909rem + 4.5455vw, 6rem);
	font-weight: normal;
	white-space: nowrap;
}

.hero {
	border-radius: 10px;
	display: flex;
	box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
}

.hero-content {
	padding: 51px 67px;
	background: var(--bg-color);
	color: #fff;
	position: relative;
	text-align: left;
	width: 50%;
	max-width: 505px;
}

.hero > .btn-signup {
	display: none;
}

.hero-text {
	font-weight: normal;
	margin-top: 57px;
	padding: 0;
	width: 100%;
}

.hero-img {
	flex: 1;
}

.hero-img img {
	width: 100%;
	height: 100%;
	padding: 0;
	object-fit: cover;
}

/* ------------ MODAL ------------- */
.overlay {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(26, 39, 156, 0.4);
}

.close {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 32px;
	height: 32px;
	opacity: 1;
	cursor: pointer;
	transform: scale(0.7);
}
.close:before,
.close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 3px;
	background-color: #fff;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}

.modal {
	margin: 5% auto;
	width: 100%;
	max-width: 500px;
	animation-name: modalopen;
	animation-duration: var(--modal-duration);
	background: var(--bg-color);
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	color: #fff;
	padding-top: 10px;
}

.modal-content {
	padding: 15px 8%;
	margin: 15px auto;
	height: 830px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hide-modal-content {
	transform: translateY(-1500px);
	transition: transform 1000ms;
}

/* -----------FORM------------- */
.form-item {
	margin: 0;
	padding: 8px;
	width: 100%;
	border-radius: 8px;
	font-size: 20px;
	height: 48px;
}

.formData {
	margin-bottom: 8px;
}

fieldset {
	border: none;
}

label {
	font-family: var(--font-default);
	font-size: 17px;
	font-weight: normal;
	display: inline-block;
	margin-bottom: 11px;
}

.form-location-label {
	font-weight: normal;
	font-size: 16px;
}

input {
	padding: 8px;
	border: 2px solid transparent;
	outline: none;
}

.checkbox-label,
.checkbox2-label {
	position: relative;
	margin-left: 36px;
	font-size: 12px;
	font-weight: normal;
}
.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
	display: block;
	width: 20px;
	height: 20px;
	border: 2px solid var(--secondary-color);
	border-radius: 50%;
	text-indent: 29px;
	white-space: nowrap;
	position: absolute;
	left: -30px;
	top: -1px;
	transition: 0.3s;
}
.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
	content: '';
	width: 13px;
	height: 13px;
	background-color: var(--secondary-color);
	border-radius: 50%;
	text-indent: 29px;
	white-space: nowrap;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: 0.3s;
	opacity: 0;
}
.checkbox-input {
	display: none;
}
.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
	opacity: 1;
}
.checkbox-input:checked + .checkbox2-label .checkbox-icon {
	background: var(--secondary-color);
}
.checkbox-input:checked + .checkbox2-label .checkbox-icon.error {
	background: var(--primary-color);
}
.checkbox2-label .checkbox-icon {
	border-radius: 4px;
	border: 0;
	background: #c4c4c4;
}
.checkbox2-label .checkbox-icon::after {
	width: 7px;
	height: 4px;
	border-radius: 2px;
	background: transparent;
	border: 2px solid transparent;
	border-bottom-color: #fff;
	border-left-color: #fff;
	transform: rotate(-55deg);
	left: 21%;
	top: 19%;
}

.error {
	border-color: var(--primary-color);
}

.error-message {
	color: var(--primary-color);
	font-size: 1rem;
}

#useterms-error,
#location-error {
	margin-left: 36px;
}

/* -----------SEND VALIDATION------------- */
.modal-validation-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex: 1;
}

.validation-title {
	flex: 1;
	display: flex;
	align-items: center;
	text-align: center;
	font-weight: normal;
}

/* -----------FOOTER-------------- */
footer {
	padding-left: 2vw;
	padding-right: 2vw;
	margin: 0 20px;
}

.copyrights {
	color: #fe142f;
	padding: 0;
	font-size: 1rem;
	margin: 60px 0 30px;
	font-weight: bolder;
}

.hidden {
	display: none;
}

/* -----------MEDIA QUERIES-------------- */
@media (max-width: 1250px) {
	.hero-content {
		width: 45%;
	}
}

@media (max-width: 1150px) {
	.hero-content {
		width: 50%;
	}
}

@media (max-width: 1000px) {
	.hero-content {
		width: 55%;
	}
	.header {
		align-items: flex-start;
	}
	.header a:not(.header-logo):not(.header a.icon):not(.header.responsive a) {
		display: none;
	}
	.header.responsive {
		position: relative;
	}
	.header.responsive .icon {
		position: absolute;
		right: 3.5%;
		top: 4%;
	}
	.header.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	.header a.icon {
		display: block;
	}
	.header.responsive .header-navbar {
		margin-top: 65px;
	}
	.header.responsive + main .hero {
		margin-top: 0;
	}
}

@media (max-width: 900px) {
	.header-logo {
		left: 3.5%;
		position: absolute;
	}
	.header {
		justify-content: flex-end;
	}
	.hero {
		display: block;
		box-shadow: unset;
	}
	.hero-content {
		background: #fff;
		color: #000;
		padding: 20px 0;
		width: 100%;
		max-width: 1000px;
	}
	.hero-content .btn-signup {
		display: none;
	}
	h1 {
		white-space: normal;
	}
	.hero-text {
		width: unset;
		font-size: 1.5rem;
	}
	.hero-img img {
		border-radius: 10px;
		margin-top: 40px;
	}
	.hero > .btn-signup {
		display: block;
		margin: 32px auto 10px;
	}
	.copyrights {
		margin-top: 50px;
		text-align: center;
	}
}

@media (max-width: 500px) {
	.header-logo img {
		width: 150px;
		padding-top: 15px;
	}
	.header {
		position: fixed;
		width: 100%;
		z-index: 1;
		background: white;
	}
	.hero {
		margin-top: 87px;
	}
	.overlay {
		background: transparent;
		top: 67px;
	}
	.modal {
		margin-top: 0;
	}
	.modal-content {
		margin: 15px auto 70px 0;
	}
}
